/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
  --theme__color1: #29A99F;
  --theme__color2: #0A4057;
  --theme__color3: #FF0000;
  --lt__text: #75797C;
  --text__color: #2D2D2D;
  --poppins: 'Poppins', sans-serif;
  --roboto: 'Roboto', sans-serif;
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 18px;
  line-height: 1.8;
  background-color: #fff;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--poppins);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
  font-family: var(--roboto);
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (min-width: 1800px) {
  .container {
    max-width: 1550px;
  }
}




/* header */
.header-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-in {
  padding: 35px 0;
}
.header-section__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  width: 256px;
}
.header__logo img {

}
.language-option > a {
  font-size: 24px;
  font-weight: 600;
  color: var(--theme__color2);
  gap: 18px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.language-option .icon {
  width: 50px;
}
.language-option:hover {
  color: var(--theme__color1);
}

/* dropdown-menu */
.dropdown-menu {
  border: none;
  background: #fff;
  filter: drop-shadow(0px 15px 30px rgba(112, 144, 176, 0.3));
}
.dropdown-menu::after {
  content: '';
  height: 12px;
  width: 20px;
  display: block;
  background: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-100%);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
.dropdown-menu a {
  padding: 5px 16px;
  color: var(--theme__color2);
  display: flex;
}
.dropdown-menu a:hover {
  background: #D9D9D9;
}
/* header-end */



/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: var(--theme__color1);
  position: absolute;
  transition: 0.3s;
  right: 25px;
  top: 25px;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #d5dce2;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.offcanvas-menu ul li a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: var(--theme__color1);
  padding: 10px;
}
.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97A3AE;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */


/* ---hero-section--- */
.hero-section {
  background: url('images/hero-bg.png') no-repeat center center/cover;
}
.hero-section__inner {
  padding: 135px 0;
}
.hero__content {
  color: #fff;
}
.hero__content h5 {
   font-size: 19px;
   margin: 0 0 20px;
   font-weight: 400;
}
.hero__content h3 {
  font-size: 40px;
  margin: 0 0 -10px;
  line-height: 2;
  font-weight: 600;
}
.hero__content .h1 {
  font-size: 70px;
  line-height: 1.15;
  font-weight: 600;
}

.hero-form {

}
.hero-form__inner {

}
/* ---hero-section---end */


/* ---common-content--- */
.h2 {
  font-size: 40px;
  font-weight: 600;
}
.h5 {
  font-size: 15px;
  margin: 0 0 10px;
  font-weight: 500;
  color: var(--theme__color1);
}
.sec-title {
  margin: 0 0 48px;
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk--center {
  align-items: center;
  text-align: center;
}
.cont-blk .bottom-button {
  margin: 21px 00;
}
.cont-blk__title {
  margin: 0 0 40px;
}
.cont-blk__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk__body p {
  color: var(--lt__text);
}
/* ---common-content---end */


/* ---procedure-area--- */
.procedure-area {
  padding: 140px 0;
  background: #F1F1F1;
}
.procedure-area__inner {

}
.procedure-area__title {

}

.procedure__wrapper {
  grid-gap: 18px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.procedure-card {
  padding: 36px 30px 24px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 0.3s;
}
.procedure-card:hover {
  background: var(--theme__color2);
}
.procedure-card__icon {
  height: 85px;
  margin: 0 0 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.procedure-card__icon svg {

}
.procedure-card__icon svg [fill="#0a4057"] {
  transition: 0.3s;
}
.procedure-card:hover .procedure-card__icon svg [fill="#0a4057"] {
  fill: #fff;
}
.procedure-card__tc {

}
.procedure-card__tc h3 {
  color: var(--theme__color2);
  font-size: 22px;
  margin: 0 0 11px;
  line-height: 1.45;
  font-weight: 600;
  transition: 0.3s;
}
.procedure-card:hover h3 {
  color: #fff;
}
.procedure-card__tc p {
  font-size: 18px;
  line-height: 1.43;
  font-weight: 300;
  color: var(--lt__text);
  transition: 0.3s;
  font-family: var(--poppins);
}
.procedure-card:hover .procedure-card__tc p {
  color: rgba(255, 255, 255, 0.562);
}
.procedure-card__bt {
  margin: 27px 0 0;
}
.procedure-card__bt .pcl-icon {

}
.pcl-icon {
  --wd: 54px;
  --stroke: 2px;
  --stroke-color: var(--theme__color2);
  --env-bg: white;
  display: flex;
  align-items: center;
}
.pcl-icon__bx {
  height: calc(var(--wd) * 0.7);
  width: calc(var(--wd) * 0.7);
  border: var(--stroke) solid var(--stroke-color);
  position: relative;
}
.pcl-icon__bx__1 {
  background: #fff;
  position: absolute;
  top: 50%;
  width: var(--stroke);
  right: 0;
  height: 74%;
  top: 50%;
  transform: translate(100%,-50%);
  background: var(--env-bg);
}
.pcl-icon__arrow {
  margin-left: calc(var(--wd) * -0.24);
  background: var(--stroke-color);
  height: var(--stroke);
  width: calc(var(--wd) * 0.5);
  position: relative;
  transition: 0.3s;
}
.pcl-icon__arrow::after {
  content: '';
  height: calc(var(--wd) * 0.2);
  width: calc(var(--wd) * 0.2);
  border-top: var(--stroke) solid var(--stroke-color);
  border-right: var(--stroke) solid var(--stroke-color);
  display: block;
  position: absolute;
  right: calc(var(--stroke) / -2);
  top: calc(var(--stroke) / 2);
  transform: rotate(45deg);
  transform-origin: 100% 0;
  transition: 0.3s;
}
.procedure-card:hover .pcl-icon {
  --stroke-color: #fff;
  --env-bg: var(--theme__color2);
}
.procedure-card:hover .pcl-icon__arrow {
  margin-left: calc(var(--wd) * -0.41);
  width: calc(var(--wd) * 1.24);
}
/* ---procedure-area---end */



/* ---welcome-section--- */
.welcome-section {
  padding: 150px 0;
}
.welcome-section__inner {
  padding: 0 18px;
}
.welcome-section__title {

}

.welcome__row {
  display: flex;
  align-items: center;
  gap: 52px;
}
.welcome__row__left {
  width: 50%;
}
.welcome__row__left .full-video {

}
.full-video {
  position: relative;
}
.full-video__thumb {
  width: 100%;
}
.full-video-button {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: rgba(255, 255, 255, 0.64);
}
.full-video-button::before {
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(46, 46, 46, 0.27);
  border-radius: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  display: block;
  z-index: -1;
}
.full-video-button::after {
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(46, 46, 46, 0.27);
  border-radius: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1.7);
  position: absolute;
  display: block;
  z-index: -1;
  animation: pulse-border 1500ms ease-out infinite;
}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.7);
    opacity: 0;
  }
}
.full-video-button .play {
  transform: translate(7%,0);
}
.welcome__row__right {
  padding-right: ;
  width: 50%;
}
/* ---welcome-section---end */